* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 250px;
}

.cuadrado {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid;
    width: 400px;
    height: 400px;
    justify-content: center
    
}

.cuadrado img {
    height: 300px;
    width: 300px;
}

.cuadrado a {
    text-decoration: none;
    font-size: 50px;
}